<!DOCTYPE html>
<html>

<head>
    <title>Text to SQL</title>
</head>

<body>

    <h1>Text to SQL Converter</h1>

    <form method="POST">

        <p>Enter your question:</p>

        <textarea name="question" rows="5" cols="50">{{ question }}</textarea>

        <br><br>

        <button type="submit">Convert to SQL</button>

    </form>


    {% if sql %}

    <h2>Generated SQL:</h2>

    <pre id="sqlOutput">{{ sql }}</pre>
    <button onclick="copySQL()">Copy SQL</button>

    {% endif %}

    {% if db_error %}
    <p style="color: red;">{{ db_error }}</p>
    {% endif %}

    {% if query_executed %}
    <h2>Query Results:</h2>
    {% if rows %}
    <table border="1" cellpadding="6" cellspacing="0">
        <thead>
            <tr>
                {% for col in columns %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No records found.</p>
    {% endif %}
    {% endif %}

</body>
<script>
    function copySQL() {
        const copytext = document.getElementById("sqlOutput").innerText;
        navigator.clipboard.writeText(copytext);
        alert("Copied to clipboard");
    }
</script>

</html>