<!DOCTYPE html>
<html>

<head>
    <title>Text to SQL</title>
</head>

<body>

    <h1>Text to SQL Converter</h1>

    <form method="POST">

        <p>Enter your question:</p>

        <textarea name="question" rows="5" cols="50">{{ question }}</textarea>

        <br><br>

        <button type="submit">Convert to SQL</button>

    </form>


    {% if sql %}

    <h2>Generated SQL:</h2>

    <pre id="sqlOutput">{{ sql }}</pre>
    <button onclick="copySQL()">Copy SQL</button>

    {% endif %}

</body>
<script>
    function copySQL() {
        const copytext = document.getElementById("sqlOutput").innerText;
        navigator.clipboard.writeText(copytext);
        alert("Copied to clipboard");
    }
</script>

</html>